push_epg.sh
# Local runner script
run_epg.sh

# Ignore all logs by default
logs/*

# ...but keep these tracked
!logs/.gitkeep
!logs/latest-run.log


# WebGrab local logs/runtime
wg/WGLicense.log.txt
wg/WebGrab++.log.txt
wg/robots/


# logs
logs/

# macOS
.DS_Store
